<!DOCTYPE html>
<html>
  <head>
    <meta charset='utf-8'>
    <title>Lottery 2014</title>
    <link rel='stylesheet'  href='./style.css' type='text/css' media='screen' />
    <script type="text/javascript" src="./node_modules/jquery/dist/jquery.js"></script>
    <script type="text/javascript">
        require('nw.gui').Window.get().showDevTools();
        _ = require("underscore");

        PeopleList = require("people").PeopleList;
        People = require("people").People;

        curPrize = null;
        peopleList = null;

        function initPeopelList(){
            var limit = 3999;
            peopleList = new PeopleList();
            for(var i =0; i <= limit ; i ++){
                var people = new People(i);
                peopleList.addPeople(people);
            }
            return peopleList
        }

        function restore(){
            return null;
        }


        function showResult(selectedPeopleList){

        }


        $(function(){
            var running = false;
            peopleList = restore() || initPeopelList();
            // console.log(peopleList.getPeopleList());


            $(".slide").first().show();

            function _randomSelect(number){
                var people = peopleList.randomSelect(select);
                console.log(people)
            }

            function _randomNumberGen(number){

            }

            // event bind
            $(document).on("keyup", function(e){
                if(e.which == 32 || e.which == 13){ // spacebar or enter 
                    if(running){
                        clearInterval(running);
                        // if third prize 1 choose
                        _randomSelect();
                        peopleList.save();
                        running = false;
                    }else{
                        running = setInterval(function(){
                                    // if third prize 5 number gen

                                    _randomNumberGen();


                                  }, 1)
                        console.log(running)
                    }
                }else if(e.which == 82){ //r
                    showResult(peopleList.getSelectPeople());
                }else if(e.which == 37){ // left arraw
                
                }

            });

            $(document).on("click", ".result-reset", function(){
                // this is dangerous, always backup data
                
            })



        })


    </script>
  </head>
  <body>
    <div id="container">
        

    </div>


    <noscript type="text/javascript" id="numberTemplate">
        <div class="number">* * {{digit0}} {{digit1}}
        </div>          
    </noscript>

    <noscript type="text/javascript" id="prizeTemplate">
        <div class="prize" prize="{{prize.degree}}">
            <div class="prize-show slide">
                <img src="{{prize.image}}">
            </div>

            <div class="prize-start slide">
                <div class="preview">
                    <img src="{{prize.image}}">
                </div>
                <div class="prize-program">
                    {%for i in _.range(5)%}
                    <div class="number">* * 1 2
                    </div>
                    {%endfor%}
                </div>
            </div>
        </div>

    </noscript>


    <noscript type="text/template" id="resultTemplate">
        <div id="result-control">
            <button class="result-reset">reset</button>
            <button class="result-back">back</button>
        </div>

        <ul class="result-ul"> Total {{peopleList.length}} people
            {%for people in peopleList%}
            <li>
                <span>{{people.id}}</span>
            </li>
            {%endfor%}
        </ul>

    </noscript>

  </body>
</html>