@font-face {
    font-family: "Horatiodmed";
    src: url(./res/Horatiodmed.ttf);
}

html {
  font-family: "Horatiodmed";
  background: url(./res/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}


#container .slide{
    display: none;
}

.no-display{
    display: none;
}

.result-ul{
    color: white;
    font-size: 25px;
    margin: 40px;
    list-style: none;
}

.prize-show img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.preview img{
    margin: auto;
    display: block;
    width: 763px;
    height: 613px;
}

.number{
    font-family: "Horatiodmed";
    font-size: 55px;
    color: #fdff67;
    padding: 10px;
    display: inline-block;
    width: 18%;
}


.number1{
    font-size: 260px;
    width: 50%;
    margin-left: 625px;
}

.number6{
    width: 40%;
}



.number2{
    width: 44%;
    font-size: 230px;
    margin-left: 40px;
}

.number2:first-child{
    text-align: right;
    margin-right: 40px;
}


.number3{
width: 565px;
font-size: 210px;
margin-left: 40px;
vertical-align: super;
}


.number3:first-child{
    margin-left: 40px;
}
.divide3{
    position: relative;
    top: 15px;
}


.number4{
width: 485px;
font-size: 175px;
}

.number4:first-child,
.number4:nth-child(4){
    margin-left: 500px;
}

.number6{
width: 485px;
font-size: 175px;
}

.number6:first-child,
.number6:nth-child(6){
    margin-left: 200px;
}

.number8{
    width: 21%;
    vertical-align: super;
    font-size: 145px;
}

.number8:first-child,
.number8:nth-child(7){
    margin-left: 30px;
}

.number8:nth-child(4),
.number8:nth-child(10){
    margin-left: 130px;
}

.number5{
    font-size: 90px;
    width: 250px;
}
.number5:first-child{
margin-left: 245px;
margin-top: 55PX;
}
.number-special.number1{
    font-size: 251px;
    margin-top: 22%;
    margin-left: 40%;
}

.number-special.number5{
    font-size: 128px;
    width: 280px;
    margin-top: 24%;
}

.number-special.number5:first-child{
    margin-left: 230px;
}

.number-special.number10{
    font-size: 128px;
    width: 280px;
}
.number-special.number10:first-child{
    margin-top: 20%;
    margin-left: 230px;

}
.number-special.number10:nth-child(6){
    margin-left: 230px;
}

