html { 
  background: url(./res/background.png) no-repeat center center fixed; 
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

*{
    margin: 0;
    padding: 0;
}


#container .slide{
    display: none;
}

.no-display{
    display: none;
}

.result-ul{
    color: white;
    font-size: 25px;
    margin: 40px;
}

.prize-show img{
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
}

.preview img{
    margin: auto;
    display: block;
}

.number{
    font-size: 55px;
    color: white;
    padding: 10px;
    display: inline-block;
    width: 18%;
}

.number8{
    width: 20%;
}

.number6{
    width: 30%;
}
